
/*@import url('../assest/fonts/cocogoose-pro.regular.ttf');*/
/*@import url('https://fonts.cdnfonts.com/css/cocogoose');*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face{
        font-family: 'Cocogoose';
        src: url('/fonts/Cocogoose Pro Italic-trial.ttf') format('ttf');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
}
